EAT profile chores: Lock down any optional behaviour

EAT profiles must clearly define any optional behaviour.

See [Section 6 or RFC9711](https://www.rfc-editor.org/rfc/rfc9711.html#section-6.3) for the list of options to address.

See [Section 5.2 of RFC9783](https://www.rfc-editor.org/rfc/rfc9783.html#section-5.2) for an example of an existing profile.